<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="./css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
</head>
<body>

    <header style="background-color: #EAC926">

        <h1><a href="index.html"><img src="./images/logo-mercado-liebre.svg" alt=""></a>
            
        </h1>
            <form action="/resultados" method="get">
        <input type="text" name="q" placeholder="Buscar productos, marcas">
        <button class="buscar" type="submit">Buscar</button>
        
        
        <div class="burger-menu">
            <i class="fas fa-bars fa-2x"></i>
            
        </div>

        <nav>
            <lu>
                <li><i class="fa-solid fa-virus-slash"></i>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda<br><br></li>
                
                <li > <a href="/register.html">Crear tu Cuenta</a> <i class="fa-regular fa-address-card"></i> </li>
                <li> <a href="/login.html"> Ingresa </a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li>Mis Compras</li>

            </lu>
        </nav>
    </header>
    <div class="banner">
        <img src="./images/img-home-banner.jpg" alt="">
    </div>
    <main>
       
        <div class="product">

            <img src="./images/img-cafetera-moulinex.jpg" alt="" >
            <div class="product-title-bottom">
                <div class="product-price">
                    $6770
                </div>
                <div class="product-desc-box">
                    40% off
                    <div class="product-delivery-icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                </div>

            </div>
            <div class="product-title-top"> 
                <p>
                    Cafetera Moulinex
                </p>
            </div>
        </div>
        
        <div class="product">

            <img src="./images/img-macbook-pro-2019.jpg" alt="" >
            <div class="product-title-bottom">
                <div class="product-price">
                    $230.000
                </div>
                <div class="product-desc-box">
                    40% off
                    <div class="product-delivery-icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                </div>

            </div>
            <div class="product-title-top"> 
                <p>
                    MacBook Pro 2019
                </p>
            </div>
        </div>
    
        <div class="product">

            <img src="./images/img-samsung-galaxy-s10.jpg" alt="" >
            <div class="product-title-bottom">
                <div class="product-price">
                    $70.500
                </div>
                <div class="product-desc-box">
                    10% off
                    <div class="product-delivery-icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                </div>

            </div>
            <div class="product-title-top"><p>
                Samsung Galaxy S1
            </p></div>
        </div>
    

    

        <div class="product">

            <img src="./images/img-tv-samsung-smart.jpg" alt="" >
            <div class="product-title-bottom">
                <div class="product-price">
                    $23.200
                </div>
                <div class="product-desc-box">
                    5% off
                    <div class="product-delivery-icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                </div>

            </div>
            <div class="product-title-top"> <p>
                Samsung 43'
            </p></div>
        </div>
        <div class="product">

            <img src="./images/img-cafetera-moulinex.jpg" alt="" >
            <div class="product-title-bottom">
                <div class="product-price">
                    $6770
                </div>
                <div class="product-desc-box">
                    40% off
                    <div class="product-delivery-icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                </div>

            </div>
            <div class="product-title-top"> 
                <p>
                    Cafetera Moulinex
                </p>
            </div>
        </div>
        
        <div class="product">

            <img src="./images/img-macbook-pro-2019.jpg" alt="" >
            <div class="product-title-bottom">
                <div class="product-price">
                    $230.000
                </div>
                <div class="product-desc-box">
                    40% off
                    <div class="product-delivery-icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                </div>

            </div>
            <div class="product-title-top"> 
                <p>
                    MacBook Pro 2019
                </p>
            </div>
        </div>
    
        <div class="product">

            <img src="./images/img-samsung-galaxy-s10.jpg" alt="" >
            <div class="product-title-bottom">
                <div class="product-price">
                    $70.500
                </div>
                <div class="product-desc-box">
                    10% off
                    <div class="product-delivery-icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                </div>

            </div>
            <div class="product-title-top"><p>
                Samsung Galaxy S1
            </p></div>
        </div>
    

    

        <div class="product">

            <img src="./images/img-tv-samsung-smart.jpg" alt="" >
            <div class="product-title-bottom">
                <div class="product-price">
                    $23.200
                </div>
                <div class="product-desc-box">
                    5% off
                    <div class="product-delivery-icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                </div>

            </div>
            <div class="product-title-top"> <p>
                Samsung 43'
            </p></div>
        </div>

    </main>
</body>
</html>